Repository rcos/Telescope, pull requests merged in 2021-12, with the labels that each got.

#217 Only allow Discord sign-ups
  src/templates/auth.rs
  templates/auth.hbs
Labels: rust, high priority, Web Interface

#221 Refactored Page, Navbar, and Template structure.
  CHANGELOG.md
  src/error.rs
  src/templates/auth.rs
  src/templates/forms.rs
  src/templates/jumbotron.rs
  src/templates/mod.rs
  src/templates/navbar.rs
  src/templates/page.rs
  src/templates/static_pages/mod.rs
  src/templates/tags.rs
  src/web/services/admin/mod.rs
  src/web/services/admin/semesters/create.rs
  src/web/services/admin/semesters/edit.rs
  src/web/services/admin/semesters/mod.rs
  src/web/services/index.rs
  src/web/services/meetings/create.rs
  src/web/services/meetings/edit.rs
  src/web/services/meetings/list.rs
  src/web/services/meetings/view.rs
  src/web/services/user/delete.rs
  src/web/services/user/developers.rs
  src/web/services/user/login.rs
  src/web/services/user/profile.rs
  src/web/services/user/register.rs
  templates/navbar.hbs
  templates/navbar/item.hbs
  templates/navbar/navbar.hbs
  templates/ogp_tags.hbs
  templates/page.hbs
Labels: enhancement, Web Interface, Discord Interface

#222 Fix bug in registration form
  CHANGELOG.md
  src/web/services/user/register.rs
Labels: bug, Web Interface
